<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Student Archieve- Archieve</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">All available materials</h1>
    
                <section class="pt-4 row">
                    <% for (const course of archive){ %>
                        <div class="col-4 mt-5">
                            <div class="card-deck" style="width: 18rem;">
                                <div class="card-body ml-5">
                                    <h5 class="card-title"><%= course.courseTitle %></h5>
                                    <p class="card-title">Contributedby: <%= course.user %></>
                                    <h6 class="card-subtitle mb-2 text-muted">Course Code: <%= course.courseCode %></h6>
                                    <p class="card-text">Description: <%= course.courseDesc %></p>
                                    <a href="#" class="col text-center card-link btn btn-primary">Download Resource</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </section>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>